/* Cores customizadas do Genius */
:root {
  --genius-green: #28a745;
  --genius-green-lit: #39d75c;
  --genius-red: #dc3545;
  --genius-red-lit: #ff5668;
  --genius-yellow: #ffc107;
  --genius-yellow-lit: #ffdf6d;
  --genius-blue: #007bff;
  --genius-blue-lit: #66b3ff;
}